.signup{
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0px;
    height: 40px;
    width:70px ;
    color:white ;
   margin: 5px;
    background-color: #0E46A3;
   
    
    

}
.box-login{
    text-align: center;
    
    
   
    
    
}
