
  .profile-header {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .profile-info {
    margin-left: 30px;
    
  }
  
  
  .profile-info h1 {
    font-size: 50px;
  }
  
  .bio {
    font-size: 16px;
    color: #fffafa;
    margin: 5px;
  }
  
  .posts {
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .posts h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .box{
    background-color: #9AC8CD;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
  }
  .bio-profile{
    display: flex;
    

  }
  .edit{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  