.box34{
    padding: 10px;
    margin: 70px;
    border-radius: 10px;
    background-color: #9AC8CD;
    

}

.post-btn{
    width: 70px;
    border-radius: 10px;
    height: 40px;
    background-color: #0E46A3;
    color: azure;
    border-radius: 5px;

   
}
form-box{
    text-align: left;
}
.blog-head{
    text-align: center;
}
input{
    border-radius: 5px;
}
textarea{
    border-radius: 5px;
}